h1, h2, h3, h4, h5, h6 {
	padding: 0.3em 0;
	font-family: $emphasis-font;
	font-weight: bold;
}

h1 { font-size: 1.7em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1.0em; }
h6 { font-size: 0.9em; }
