// colors
$c-text:                    #021b3d;
$c-blusher:                 #f1f2f4;
$c-gray:                    #dcdee0;

// typography
$default-font:              Arial, sans-serif;
$emphasis-font:             Tahoma, Arial, sans-serif;
$line-height:               1.6em;

// animations and transitions
$a-duration:                0.2s;

// media queries
$mq-sm:                     520px;
$mq-md:                     680px;

/* ------------------------- mixins ------------------------- */

@mixin pseudo-content {
  content: "";
  display: block;
  position: absolute;
}
